* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


:root {
  --white: #FFF;
  --primary: #2F80ED;
  --secondary: #FFF059;
  --gray-300: #ededed;
  --error: #d32f2f;
}

label[data-error='true'] {
  color: var(--error);
}
